.pio
.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json
.vscode/.BROWSE.C_CPP.DB
.vscode/.BROWSE.C_CPP.DB-shm
.vscode/.BROWSE.C_CPP.DB-wal
.vscode/c_cpp_properties.json
.vscode/extensions.json
.vscode/launch.json
.vscode/settings.json